[submodule "build"]
	path = build
	url = git@github.com:FlymeOS/build.git
	branch = marshmallow-6.0
[submodule "tools"]
	path = tools
	url = git@github.com:FlymeOS/tools.git
	branch = marshmallow-6.0
[submodule "devices/base"]
	path = devices/base
	url = git@github.com:FlymeOS/devices-base.git
	branch = marshmallow-6.0
[submodule "flyme/overlay"]
	path = flyme/overlay
	url = git@github.com:FlymeOS/flyme-overlay.git
	branch = marshmallow-6.0
[submodule "tutorials"]
	path = tutorials
	url = git@github.com:FlymeOS/tutorials.git
	branch = marshmallow-6.0
