[submodule "build"]
	path = build
	url = https://github.com/FlymeOS/build.git
	branch = marshmallow-6.0
[submodule "tools"]
	path = tools
	url = https://github.com/FlymeOS/tools.git
	branch = marshmallow-6.0
[submodule "devices/base"]
	path = devices/base
	url = https://github.com/FlymeOS/devices-base.git
	branch = marshmallow-6.0
[submodule "flyme/overlay"]
	path = flyme/overlay
	url = https://github.com/FlymeOS/flyme-overlay.git
	branch = marshmallow-6.0
[submodule "tutorials"]
	path = tutorials
	url = https://github.com/FlymeOS/tutorials.git
	branch = marshmallow-6.0
[submodule "plugins"]
	path = plugins
	url = https://github.com/FlymeOS/plugins.git
	branch = marshmallow-6.0
[submodule "flyme/release"]
	path = flyme/release
	url = https://github.com/FlymeOS/flyme-release.git
	branch = marshmallow-6.0
